td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

td:first-of-type, td:first-of-type div {
  height: 100%;
  width: 100%;
  min-width: 120px;
  border: none;
}

.input-group {
  margin: 40px auto;
}

/*.custom-chart {
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
}*/
